.meal-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .meal-details h2 {
    color: #ECB365;
    margin-bottom: 10px;
    font-size: 1.8rem; /* Adjust font size for heading */
  }
  
  .meal-details p {
    margin: 5px 0;
    font-size: 1.2rem; /* Adjust font size for paragraphs */
  }
  
  .meal-details img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .meal-details button {
    margin-top: 20px;
    background-color: #ECB365;
    color: #041C32;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .meal-details button:hover {
    background-color: #041C32;
    color: #ECB365;
  }
  
  @media screen and (max-width: 600px) {
    .meal-details {
      padding: 15px; /* Adjust padding for smaller screens */
    }
  
    .meal-details h2 {
      font-size: 1.5rem; /* Adjust font size for heading on smaller screens */
    }
  
    .meal-details p {
      font-size: 1rem; /* Adjust font size for paragraphs on smaller screens */
    }
  }
  