
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #000204, #04293A, #064663, #ECB365);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ECB365;
    line-height: 1.6;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.meal-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
    color: #ECB365;
    background-color: rgba(236, 210, 210, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-details h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.meal-details p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.meal-details img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.meal-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.meal-details button:hover {
    background-color: #0056b3;
}


@media (max-width: 600px) {
    .meal-details {
        padding: 50px 10px;
    }

    .meal-details h2 {
        font-size: 2.5rem;
    }

    .meal-details p {
        font-size: 1.3rem;
    }
}
