body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #000204, #04293A, #064663, #ECB365);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ECB365;
    line-height: 1.6;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.workout-list {
    max-width: 1800px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
    color: #ECB365;
}

.workout-list h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-form select,
.search-form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.search-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-form button:hover {
    background-color: #0056b3;
}

.workout-list > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.workout-item {
    display: block;
    width: calc(33.333% - 40px);
    text-align: center;
    background-color: rgba(236, 210, 210, 0.1);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    color: #ECB365;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.workout-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.workout-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.workout-item h2 {
    margin-top: 10px;
    font-size: 1.8rem;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .workout-list {
        padding: 80px 20px;
    }

    .search-form select,
    .search-form button {
        font-size: 0.9rem;
    }

    .workout-item {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 900px) {
    .workout-item {
        width: calc(50% - 20px);
    }

    .search-form select,
    .search-form button {
        font-size: 0.85rem;
    }
}

@media (max-width: 600px) {
    .workout-item {
        width: 100%;
    }

    .workout-list {
        padding: 60px 10px;
    }

    .search-form {
        flex-direction: column;
        gap: 5px;
    }

    .search-form select,
    .search-form button {
        font-size: 0.8rem;
        padding: 8px;
    }
}
