
.user-routine-page {
  max-width: 1800px;
  margin: auto;
  padding: 200px;
  padding-top: 100px;
  background-color: rgba(4, 4, 4, 0.5);
}

.page-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #040608;
}

.calendar-and-entries {
  display: flex;
  flex-wrap: wrap;
}

.calendar-container {
  flex: 1;
  margin-right: 20px;
  max-width: 500px;
  margin-left: 200px;
  padding-top: 40px;
}

.entries-container {
  flex: 1;
}

.routine-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #ecb365;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d49e5a;
}


.btn-add-meal {
  background-color: #55a630;
  padding: 4px 10px;
  font-size: 14px; 
  border-radius: 8px;

}

.btn-add-routine {
  background-color: #55a630;
  padding: 4px 10px;
  font-size: 14px; 
  border-radius: 8px;

}

.btn-edit-routine {
  background-color: #3b4637;
  padding: 4px 10px;
  font-size: 14px; 
  border-radius: 8px;
}

.btn-edit-meal {
  background-color: #3b4637;
  padding: 4px 10px;
  font-size: 14px; 
  border-radius: 8px;
}

.user-entries {
  margin-top: 20px;
}

.entries-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.entries {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #fffbfb;
}

.entries-section {
  flex: 1;
}

.entries-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.entries-section ul {
  list-style: none;
  padding: 0;
}

.entries-section ul li {
  margin-bottom: 10px;
}

.btn-edit,
.btn-delete {
  margin-left: 10px;
  font-size: 14px;
}

.link-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
  padding: 300px 80px; 

}

.link1, .link2 {
  text-align: center;
  margin: 0 60px;
  font-size: 16px;
  color: #ccced0; 
  text-decoration: none; 
}

.link1:hover, .link2:hover {
  background-color: #3b4637;
  border-radius: 30px;

}

@media (max-width: 768px) {
  .calendar-and-entries {
    flex-direction: column;
  }

  .entries-container {
    margin-top: 20px;
  }

  .routine-links {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .entries {
    flex-direction: column;
  }

  .entries-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


