/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Set a basic style for the body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #000204, #04293A, #064663, #ECB365);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ECB365;
    line-height: 1.6;
  
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Container for the Workout Details Page */
.workout-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
    color: #ECB365;
    background-color: rgba(236, 210, 210, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workout-details h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.workout-details p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FFFFFF;
}

/* Workout image */
.workout-details img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Responsive design */
@media (max-width: 900px) {
    .workout-details {
        padding: 50px 10px;
    }

    .workout-details h2 {
        font-size: 2.5rem;
    }

    .workout-details p {
        font-size: 1.3rem;
        
    }
}

@media (max-width: 600px) {
    .workout-details {
        padding: 50px 5px;
    }

    .workout-details h2 {
        font-size: 2rem;
    }

    .workout-details p {
        font-size: 1.1rem;
    }

    .workout-details img {
        max-width: 100%;
    }
}
